npm login --registry=http://18.223.156.120:8395/repository/npm-private/
username:npmuser
password:npmuser123
email:npmuser@gmail.com
registry=http://18.223.156.120:8395/repository/npm-private/
always-auth=true
strict-ssl=false
npm publish --registry=http://18.223.156.120:8395/repository/npm-private/
